@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

@layer base {
  .light {
    font-weight: 400;
  }
  .medium {
    font-weight: 500;
  }
  .bold {
    font-weight: 700;
  }
  h1,
  .h1 {
    font-size: 32px;
  }
  .l1 {
    font-size: large;
  }
  .l2 {
    font-size: 16px;
  }
  .l3 {
    font-size: small;
  }
}

.radialGradient {
  height: 100vh;
  background: radial-gradient(50% 50% at 50% 50%, rgba(135, 50, 244, 0.4) 0%, rgba(135, 50, 244, 0.25) 35.05%, rgba(135, 50, 244, 0) 100%);

}
